@using Microsoft.AspNetCore.Components.Authorization
@using BookStoreApp.Web.Components.Parts
@rendermode InteractiveServer

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly" AdditionalAssemblies="new[] { typeof(Client._Imports).Assembly }">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <Authorizing>
                    Please Wait...
                </Authorizing>
                <NotAuthorized>
                    @if(context.User?.Identity?.IsAuthenticated == false)
                    {
                        <RedirectToLogin/>
                    } else
                    {
                        <div class="alert alert-warning">
                            <p>You are not authorized to access to this ressource.</p>
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
    </Router>
</CascadingAuthenticationState>