@page "/books/update/{id:int}"
@rendermode InteractiveServer
@attribute [Authorize(Roles = Roles.Admin)]

<h3>Edit Book</h3>

<EditForm Model="book" OnValidSubmit="HandleUpdate">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="title">Title</label>
        <InputText class="form-control" @bind-Value="book.Title" />
    </div>
    <div class="form-group">
        <label for="isbn">ISBN</label>
        <InputText class="form-control" @bind-Value="book.Isbn" />
    </div>
    <br />
    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber class="form-control" @bind-Value="book.Price" />
    </div>
    <br />
    <div class="form-group">
        <label for="summary">Summary</label>
        <InputText class="form-control" @bind-Value="book.Summary" />
    </div>
    <br />
    <div class="form-group">
        <label for="summary">Book cover photo</label>
        <InputFile OnChange="HandleFileSelection" />
        <img src="@img" width="100" height="100" class="img-thumbnail">
        <p class="text-danger">@uploadFileWarning</p>
    </div>
    <br />
    <button class="btn btn-primary" type="submit">Update book</button>
</EditForm>
