@page "/logout"

@if (RegistrationError != null)
{
    <p class="text-danger">@RegistrationError</p>
}

<h3>Logout</h3>
<br />
<button @onclick="LogoutApp" class="btn btn-primary">Click to logout</button>
