@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using BookStoreApp.Web.Components.Parts
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager Navigation
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<AuthorizeView>
    <Authorized>
        <h3>Hi @context.User.Identity!.Name, Welcome</h3>
    </Authorized>
    <NotAuthorized>
        
    </NotAuthorized>
</AuthorizeView>