@page "/authors"
@rendermode InteractiveServer

@using BookStoreApp.Web.Client.Components

<h3>All our authors</h3>

@if (!response.Success)
{
    <div class="alert alert-danger">
        <h4>Error : @response.Message</h4>
    </div>
}
@if(authors == null && response.Success)
{
    <div class="alert alert-info">
        <h4>Loading datas...</h4>
    </div>
}
else if (authors != null)
{
    <AuthorizeView Roles="@Roles.Admin">
        <a class="btn btn-primary" href="/authors/create"><span class="oi oi-plus" aria-hidden="true"></span>Create a new author</a>
    </AuthorizeView>
    <br/>
    <AuthorsTable Authors="authors" TotalSize="totalSize" OnScroll="LoadAuthors" />
}